/Gemfile.lock
/_site/
/class-model/
/consolidatedbundle-maven-plugin/
/dependency-verifier/
/dependency-visualizer/
/examples/
/external/
/guice-bridge/
/hk2-api/
/hk2-configuration/
/hk2-core/
/hk2-extras/
/hk2-inhabitant-generator/
/hk2-jmx/
/hk2-locator/
/hk2-maven/
/hk2-metadata-generator/
/hk2-runlevel/
/hk2-testing/
/hk2-utils/
/hk2/
/osgi-resource-locator/
/osgi/
/osgiversion-maven-plugin/
/spring-bridge
/javadocs/
/.jekyll-metadata
/assets/
/_layouts/
